@if (userStore.role() == 'Seller') {
<button
  (click)="handleAddProduct()"
  class="mt-4 ms-4 rounded-md border border-transparent bg-blue-600 px-3 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2"
>
  {{ showAddProduct() ? "Close" : "Add Product" }}
</button>
@if (showAddProduct()) {
<app-add-product />
} } @if (productStore.isLoading()) {
<div>
  <p>Produkte werden geladen...</p>
</div>
} @if (userStore.role() == 'Customer') {
<app-cart #cart></app-cart>
<div
  (click)="cart.toggleCart()"
  class="h-12 w-12 !rounded-full bg-amber-500 text-2xl flex items-center justify-center cursor-pointer fixed bottom-4 right-4"
>
  <span class="material-icons-outlined">shopping_cart</span>
  @if (cartStore.totalQuantity() > 0) {
  <span>{{ cartStore.totalQuantity() }}</span>
  }
</div>
}
<app-product-list [products]="productStore.products()" />
